# Base URL for the FastAPI Backend Microservice
# In local development: http://127.0.0.1:8000
# In cloud production (Render): https://car-price-api-4kmp.onrender.com
VITE_API_BASE_URL=https://car-price-api-4kmp.onrender.com
