# --- Server ---

fastapi
uvicorn[standard]  # Server for FastAPI

# --- ML & Data ---

pandas             # creating the input DataFrame
numpy              # np.expm1()
joblib             # loading the .pkl file
scikit-learn       # core dependency for joblib/pickle
catboost           # Required to load the saved CatBoost model object